.img {
    overflow: hidden;
}

#map {
    height: 75%;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #db5385;
    overflow: auto
}

#override {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: auto;
}

.button {
    /* background-color: #4CAF50; /* Green */
    border: none;
    color: #db5385;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    overflow: auto;
}

.table {
    color: white;
    background-color: #db5385;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
#header{
    display: block;
    float: top;
    height: 65px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#quote{
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#footer{
    display: block;
    text-align: center;
    top: 20px;
}
#mission{
    text-align: center;
    color: white;
    font-family: Helvetica; 
}
#infotable{
    width: 400px;
    float: left;
}
#about{
    color:white;
    text-align: center;
}

